@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*::selection{
  background-color: #d1564d;
  overflow: hidden;
}

body {
  background: #121212;
  font-family: "Montserrat";
  color: #8c8c8c;
  margin: 0;
}
a {
  color: #FFFFFF;
  text-decoration: none;
}
.content {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  max-height: 100vh;
}
nav{
  background: #161616;
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: 96vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 2vh 0;
}
nav a {
  margin: 10px;
  color: #8c8c8c;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  border-bottom: 1px solid #282828;
  -webkit-transition: color 0.5s, background-color 0.5s;
  -o-transition: color 0.5s, background-color 0.5s;
}
nav a:hover {
  color: #bfbfbf;
  background-color: #282828;
}
.not-found {
  text-align: center;
}
.not-found a{
  color: #4979ff;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  nav{
    display: none;
    background-color: blue;
  }
}