.main{
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  color: #c7c7c7;
  padding-bottom: 20px;
  line-height: 4rem;
}
.text {
  color: #c7c7c7;
}
.name {
  color: #d1564d;
}
.btn {
  display: block;
  width: 175px;
  padding: 8px 0;
  margin: 20px auto;
  font-size: 1.3rem;
  font-weight: 500;
  border: #d1564d solid 1px;
  color: #d1564d;
  text-align: center;
  -webkit-transition: color 0.5s, background-color 0.5s, padding 0.5s, margin-top 0.5s, margin-bottom 0.5s, font-weight 0.5s;
  -o-transition: color 0.5s, background-color 0.5s, padding 0.5s, margin-top 0.5s, margin-bottom 0.5s, font-weight 0.5s;
}
.btn:hover{
  color: #121212;
  background-color: #d1564d;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 20px 10px;
  font-weight: 1000;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
}
.center{
  display: flex;
  flex-direction: column;
  width: 600px;
}
.main {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}