.main{
  margin: auto;
}
.title {
  color: #FFFFFF;
  padding-bottom: 20px;
  opacity: 87%;
  text-align: center;
}
.text {
  color: #FFFFFF;
  opacity: 87%;
}
.name {
  color: #d1564d;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #d1564d;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.logo{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}